{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="content">
        <header>
            <div class="profile-picture">
                <img src="https://res.cloudinary.com/dream-music/image/upload/v1633461268/team/gino_i892ut.jpg" alt="mi foto">
            </div>    
            <div class="header-text">
                <h1>Armando Ruiz</h1>
                <p>Desarrollador Full Stack</p>
            </div>
        </header>
        {% block content%} 
    
        {% endblock %}
        <footer>
            <p>Bienvenido a Mi Portafolio Personal</p>
        </footer>    

    </div>    


</body>
</html>    